.titulo {
    background-color: #FFFFFF;
    width: 100%;
    height: 69px;
    position: fixed;
    top: 69PX;
    left: 0;
    right: 0;
    display: table;
}

.titulo h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: #000000;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content-quiz {
    width: 600px;
    height: auto;
    margin: 145px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 8px 4px;

    /* transition: height 4s; */
}

.content-quiz input {
    width: 95%;
    height: 46px;
    margin: 4px auto;
    border-radius: 4px;
    border: 1px solid #D1D1D1;
    font-size: 18px;
    font-weight: 400;
}

.content-quiz input::placeholder {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    padding-left: 16px;
}

.button-quiz {
    margin: 80px auto 80px auto;
    width: 370px;
    height: 54px;
    border-radius: 24px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 18px;
}

.pergunta {
    width: 600px;
    height: 64px;
    /*80px*/
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 18px 0 18px 18px;
    margin: 4px auto;
    overflow-y: hidden;
    transition:  height 4s;
}



.pergunta div> div {
    width: 96%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.pergunta div {
    margin: 20px 0;
} 

.pergunta  div > div ion-icon{
    position: relative;
    font-size: 26px;
    
}


.pergunta p {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

}

.pergunta h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin: 18px 0;
}


@media (max-width: 1100px) {

    .titulo {
        background-color: #E5E5E5;
    }

    .titulo h2 {
        font-size: 18px;
    }

    .content-quiz {
        width: 100%;
    }
}

/* overflow-y:hidden
transition: height 4s; */

@media (max-width: 370px) {

    .button-quiz {
        width: 90%;
    }

}